[submodule "lesson-1"]
	path = lesson-1
	url = https://github.com/badari07/api_lesson_1
[submodule "lesson-2"]
	path = lesson-2
	url = https://github.com/badari07/api_design_lesson_2
[submodule "lesson-3"]
	path = lesson-3
	url = https://github.com/badari07/api_lesson_3
[submodule "lesson-4"]
	path = lesson-4
	url = https://github.com/badari07/api_lesson_4
